*,
*:before,
*:after {
  box-sizing: border-box;
}

.header__title {
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
}

.message__image {
  width: 539.22px;
  height: 447.43px;
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
}

.message__title {
  width: 586px;
  height: 190px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.message__description {
  width: 381px;
  height: 108px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.button {
  width: 216px;
  height: 68px;
  background: #333333;
  font-family: "Space Mono";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__message {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 287px;
  height: 17px;
  color: #BDBDBD;
}
